@font-face
{
    font-family: Burbank;
    src: url("font/BurbankBigCondensed-Bold.otf") format("opentype");
}

body
{
	background-color: black;
	min-width: 350px;
	font-family: Burbank;
}

.bg
{
	background: url('images/bg.jpg') no-repeat center center scroll;
	-webkit-background-size: cover;
	background: cover;
}

.normal_font
{
	font-family: Arial;
}

.text-yellow
{
	color: yellow;
}

.text-green
{
	color: #258907;
}

.text-red
{
	color: #ff4c4c;
}

.text-orange
{
	color: #C9782B;
}

.text-grey
{
	color: #8C8E8F;
}

.text-blue
{
	color: #1681C3;
}

.text-purple
{
	color: #9F38C7;
}

.font-size-48
{
	font-size: 48px;
}

.font-size-18
{
	font-size: 18px;
}

.bg-yellow
{
	background-color: #93F;
}

.bg-42
{
	background-color: #424242;
}

.bg-53
{
	background-color: #535353;
}

.hidden
{
	visibility: hidden;
}

.w-200px
{
	width: 200px;
}

.h-255px
{
	height: 255px;
}

#profilePic img
{
	width: 100%;
	max-width: 100px;
}
